CONTENT:

=========================

DATATYPES

ASSIGNING VARIABLES

FUNCTIONS

OPERATORS

IMPORTS/LIBERARY MODULES

COMMENTING

=======================================DATATYPES======================================

Data are units of information.

In python datatypes inculde

String(str): are characters and words used for reading and are characterized by quotations so any character inside quations " " or ' ' is a string even if it is a number inside the string.

For example:

In [22]:
x = 'apple'
y = '256'
z = '2.666'

Here x, y and z are all strings.

Integer(int): are whole numbers that can be used in mathmatical operations(addition, subtraction, multiplication, devision, etc...).

For example:

In [23]:
x = 1
y = 5
z = 12

Float(float): are decimal numbers.
for example:

In [24]:
x = 2.5
y = 5.0
z = .1

Lists(list): are arrays that can cotain multiple values of different datatypes.

a value in the list is called an element

each element have an index

indecies in list starts from 0

x = [a, b, c]

Index of a is 0

Index of b is 1

Index of c is 2

Example of a list:

In [25]:
x = [1, 'a', 20.5, '2']

Boolean: True or False

In [26]:
x = True
y = False

=======================================ASSIGNING VARIABLES======================================

In python assigning a variable is as easy as equating the the varialbe to its value.

For example:

In [27]:
X = 10
Y = 20

Here we gave the variable X a value of 10 and the variable Y a value of 20

Note:
Variables are case sensitive(X =/= x)

=======================================FUNCTIONS======================================

In order to view the values that we assigned to a certain variable we use the function print()

Note:
A function is something that takes input and applies a set of actions to it then returns an output.(in python funtions ends with parenthesis () in which we put the input)

like so:

Function(variable)

Note: when a variable is introduced to function it is called an argument.

The print() function takes a variable like X and as the name suggests prints its value in the console(output box)

The input() function takes input in console and assigns that input into a varialble(can take a string argument which is shown to the user)

For example:

In [28]:
x = 10

In [29]:
print(x)

10

In [30]:
x = input('Hello, write anything here please(and hit enter): ')

Hello, write anything here please:  2

In [31]:
print(x)

2

Note: reassigning a variable overwrites it.

There are also functions that allow us to convert between int, str and float provided that they can be converted.

In [32]:
x = '10'
y = x + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
x = '10'
x = int(x)
y = x + 2
print(y)

In [ ]:
x = 10
print(x)
print(float(x))

In [ ]:
x = 10
y = 2.0
print(x+y)
z = str(x)
print(z)
print(y+z)

=======================================OPERATORS======================================

As mentioned before we can do arithmetics with numbers(int, float)

In [ ]:
x = 20

In [ ]:
y = 6

In [ ]:
z = x + y

In [ ]:
print(z)

=======================================ARITHMETIC OPERATORS======================================

Addition                    (+)

In [ ]:
print(x+y)

======================

Subtraction                 (-)

In [ ]:
print(x-y)

======================

Multiplication              (*)

In [ ]:
print(x*y)

======================

Division                    (/)

In [ ]:
print(x/y)

======================

Modulus(remainder)          (%)

In [ ]:
print(x%y)

======================

Exponentiation(power)       (**)

In [ ]:
print(x**y)

======================

Floor division(round down)  (//)

In [ ]:
print(x//y)

=======================================ASSIGMENT OPERATORS======================================

It is posssible to assign a variable to another varible

In [ ]:
x = 10
y = 5
x = y
print(x, y)

Note: print function can output more than one value seprated by space if in function they were seprated by comma

For example:

In [ ]:
x = 'a'
y = 2
z = 'cat'
print(x, y, z)

It is also possible to assign a varible to itself after change

In [ ]:
x = 4
x = x + 2
print(x)

which can be shorten to be written as an assignment operator.

Add-Assign:

In [ ]:
x = 4
x += 2
print(x)

Subtract-Assign:

In [ ]:
x = 4
x -= 2
print(x)

Mulitply-Assign:

In [ ]:
x = 4
x *= 2
print(x)

In [ ]:
x = 4
x /= 2
print(x)

etc.

Note: all Arithmetic Operators can be writen as an Assignment Operator.

+++++++++++++++

The rest of the operators will be discussed in Lec2.

+++++++++++++++

=======================================IMPORTS/LIBERARY MODULES======================================

liberaries can be thought of as expansion packs for python functions.

Using import

In [ ]:
import math
pi = math.pi
x = math.sin(pi/2)
print(x)

Note:

Here we first imported the math built-in liberary

and after that to use variable pi we first refer to the module followed by a (.) then the variable or the function need.

module.variable or module.function()

=======================================COMMENTING======================================

A comment is a piece of code that doesn't run when the script is executed, it exists for noting things in code and for clearifying its function for other people or it can be used as a reminder.

There are 2 ways of commenting.

single-line comment:

Adding a hashtag(#) in line tells python to ignore the rest of the line.

In [ ]:
y = 10
# y = 5
print(y)

In [ ]:
x = 5 hello
print(x)

In [ ]:
x = 5 # hello
print(x)

multi-line comment:

"""anything between triple quotations will be commented out"""

In [ ]:
print(1)
'''
y = 10
print(y)
'''
print(2)

Note:

single quotation(') and double(") are treated the same in python but they but we can't mix and match between them.